@media screen and (max-width: 1289px) {
  .row {
    max-width: 1289px;
    border: 0px solid #fff;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media screen and (max-width: 910px) {
  #header {
    background: rgba(255, 255, 255, 1);

    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999; /* 박스겹침이 발생했을때 겹치는 순서를 제어함. 높은값이 위로 올라옴 */
  }
  #header .row {
    height: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch;   - 얼라인 기본값 */
    flex-wrap: wrap;
    padding: 20px 0 0;
  }
  #header h1 a {
    margin: 0 0 20px 10px;
    display: block;
    width: 250px;
    height: 50px;
    background: url(../image/logo_st.png);
    background-size: contain; /* 짤리지 않게함 */
    background-repeat: no-repeat;
  }
  #header .menuopen {
    display: flex;
    color: #000;
    font-size: 25px;
    align-items: center;
    margin: 0 10px 20px 0px;
  }
  #header #nav {
    /* display: block; */
    display: none;
    width: 100%;
    /* margin-top: 20px; */
  }

  #header #nav .depth1 {
    display: block;
  }
  #header #nav .depth1 > li {
    display: block;
    /* float: left; */
    margin-left: 0px;
    color: #333;
    font-family: "Noto Sans KR";
    font-size: 14px;
    border-top: 0px solid transparent;
    position: relative;

    align-items: center;
  }
  #header #nav .depth1 > li:hover {
    color: #45639d;
    border-top: 0px solid #00a0d2;
  }

  #header #nav .depth1 > li > a {
    display: block;
    line-height: 41px;
    border-top: 1px solid #d4d4d4;
    padding-left: 40px;
  }

  #header #nav .depth2 {
    position: static;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;

    color: #000;
    border-top: 0px solid #45639d;
    display: block;
  }
  #header #nav .depth2 > li > a {
    display: block;
    padding: 12px 20px 12px 50px;
    font-size: 12px;
    color: #212934;
    border-top: 1px solid #d4d4d4;
  }

  #section .business ul {
    display: block;
    /* overflow: hidden; */
  }

  #section .product .row {
    /* overflow: hidden; */
    display: block;
  }

  #section .customer .row div {
    /* overflow: hidden; */
    display: block;
  }
  #section .customer .row div span {
    /* width: 33.33%;
    float: left; 
     padding:0 15px;
     */
    flex: 1;
    display: block;
    margin: 15px;
    text-align: center;
  }
}
